#slide3 .red_blur_circle {
    position: relative;
}

#slide3 .blur_bottm_right {
    right: -58%;
    bottom: -8%;
    filter: blur(18em);
}

#slide3 .blur_top_left {
    filter: blur(18em);
}

#slide3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vw 0;
}

.cards {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
    gap: 7vw;
    justify-content: center;

}

.card {
    width: 19vw;
    height: 30vw;
    border-radius: 15px;
    background: rgba(67, 71, 94, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}


.card_head {
    color: #FFF;
    font-size: 2.5vw;
    font-weight: 800;
    line-height: 121.023%;
    letter-spacing: 3.6px;
    transform: translateY(7vw);
    opacity: 0;
    transition: 0.3s;
}

.card:hover .card_head {
    transform: translateY(0vw);
    opacity: 1;
}

.card_desc {
    color: #FFF;
    font-size: 2vw;
    font-weight: 400;
    line-height: 121.023%;
    letter-spacing: 2.61px;
    width: 80%;
    text-align: center;
    transition: 0.5s;
    transform: translateY(7vw);
    opacity: 0;
}

.card:hover .card_desc {
    transform: translateY(0vw);
    opacity: 1;
}

.redCircle {
    width: 10vw;
    height: 10vh;
}

@media screen and (max-width:1200px) {
    .card {
        width: 28vw;
        height: 49vw;
    }
}

@media screen and (max-width:900px) {

    .card_head,
    .card_desc {
        opacity: 1;
        transform: translateY(0vw);
    }
}


@media screen and (max-width:750px) {

    .cards {
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .card {
        width: 40vw;
        height: 34vw;
    }

}

@media screen and (max-width:500px) {
    #slide3 {
        padding-top: 24vw;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 44vw;
        height: 40vw;
    }
}

@media screen and (max-width:400px) {
    .card {
        width: 58vw;
        height: 38vw;
    }
}