#slide2 {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.slide2_text {
    color: #FFF;
    font-size: 4vw;
    font-weight: 800;
    line-height: 133.523%;
    letter-spacing: 5.85px;
    position: relative;
    left: 10%;
}


.eclipses {
    display: flex;
    align-items: flex-end;
    justify-items: stretch;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    padding: 1vw;
    justify-content: flex-end;
}

@keyframes totalRotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.about_eclipse {
    width: 20vw;
    height: 20vw;
    border-radius: 1013px;
    border: 1px solid #fa4444d1;
    box-shadow: rgb(250 68 68) 0px 0px 500px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000a3;
}

.about_eclipse1 {
    width: 18vw;
    height: 18vw;
        animation: totalRotation 10s infinite linear;
}

.about_eclipse2 {
    width: 23vw;
    height: 23vw;
        animation: totalRotation 9s infinite linear;
}

.about_eclipse2 svg {
    position: relative;
    bottom: -1vh;
}

.about_eclipse3 {
    width: 23vw;
    height: 23vw;
        animation: totalRotation 8s infinite linear;
}

.about_eclipse4 {
    width: 15vw;
    height: 15vw;
        animation: totalRotation 11s infinite linear;
}

.about_eclipse4 svg {
    position: relative;
    bottom: -1vh;
}

@media only screen and (max-width:1100px) {
    .eclipses {
        justify-content: center;
    }
}

@media only screen and (max-width:970px) {

    .about_eclipse1 {
        width: 21vw;
        height: 21vw;
    }

    .about_eclipse4 {
        width: 19vw;
        height: 19vw;
    }

    .about_eclipse2 {
        width: 28vw;
        height: 28vw;
    }

}

@media only screen and (max-width:750px) {
    #slide2 {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .eclipses {
        height: 110vw;
    }

    .slide2_text {
        font-size: 7vw;
    margin-top: 15vw;
    }

    .about_eclipse1 {
        width: 30vw;
        height: 30vw;
    }

    .about_eclipse1 svg {
        width: 23vw;
        height: 23vw;
    }

    .about_eclipse2 {
        width: 50vw;
        height: 50vw;
    }

    .about_eclipse2 svg {
        width: 39vw;
        height: 39vw;
    }

    .about_eclipse3 {
        width: 40vw;
        height: 40vw;
    }

    .about_eclipse3 svg {
        width: 34vw;
        height: 34vw;
    }

    .about_eclipse4 {
        width: 30vw;
        height: 30vw;
    }

    .about_eclipse4 svg {
        width: 23vw;
        height: 23vw;
    }

}

@media only screen and (max-width:420px) {
    .eclipses {
        justify-content:inherit;
    }
}